*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 40px;
    margin: 30px 0;
}
label{
    font-size: 25px;
}
header{
    display: flex;
    justify-content: center;
    background-color:#FCD900 ;
    align-items: center;
    padding: 0 20px;
    border-bottom:  1px SOLID rgb(7, 8, 8);
    width: 100%;
    position: fixed;
   
}
header nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}
header nav  ul {
    display: flex;
    
}
header nav ul li{
    color: rgb(3, 10, 17);
    text-transform: uppercase;
    list-style: none;
    margin-right: 5px;
    font-weight: bolder;
    padding-left: 5px;
    border-left: 1px solid rgb(15, 14, 14);
    
    
}
header a{
    text-decoration:none;
}

.primeiro-link{
    border-left: none;
}
header img{
    height: 110px;
}
header li:hover{
    background-color: rgb(116, 241, 104);
    color:#282828 ;
    border-left: 3px solid #eeeeed;
    transform: scale(1.2);
    padding-right: 10px;
}

/* HOME */
main #principal{
    display: flex;
    height: 680px;
    justify-content: center;
    align-items: center;
    background: #FCD900 ;
    padding-top: 40px;
   
   

}
main #principal img{

    height:450px;
    border-radius: 50px;
}
main #principal div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 650px;
   
   margin-left: 30px;
   text-align: justify;
}
main #principal div h1{
    font-size: 60px;
    margin-bottom: 30px;
}
main #principal div p{
    font-size: 20px;
    font-weight: bolder;
}
main #principal div a{
    align-self: center;
}
main #principal div a button{
    width: 200px;
    height: 40px;
    background-color: rgb(63, 66, 236);
    color: white;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
     border-radius: 10px;
    align-self: center;
}
main #principal div a button:hover{
    background-color: rgb(5, 224, 23);
    transform: scale(1.3);
    cursor: pointer;
}
/* Sobre mim*/
main #sobre-mim {
    display: flex;
    padding: 50px;
    justify-content:center;
    background-color: rgb(39, 34, 35);
    color: white;
}
main #sobre-mim img{
    border-radius: 50%;
    height: 400px;
}
#descricao-sobre{
    font-weight: lighter;
    margin-left: 30px;
    align-self: center;
   max-width: 600px;
}

main #cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 34, 35);
    color: white;
}
main #cursos h1{
    font-size: 60px;
    margin: 30px;
}
main #cursos ul{
    list-style:url(./img/chapeu-de-graduacao.png) ;
    margin: 40px;
    
}
/* portifólio */
main #portifolio h1{
    font-size: 50px;
    margin: 30px;
}
main #portifolio {
    background-image: url("./img/fundo-galeria.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #portifolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(230, 213, 230);
    padding: 10px;
    margin: 30px;
}
main #portifolio .galeria a {
    margin: 10px;
    
}
main #portifolio .galeria a img{
   width: 470px;
   height: 300px;
}
/* contato */
main #contato {
   display: flex;
   justify-content: center;
   padding: 30px;
   background-color: #FCD900;
}
main #contato .formulario{
    padding: 20px;
    width: 40%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 79, 192);
    color: rgb(21, 23, 24);
    color: white;
    border-radius: 40px;
    box-shadow: 6px 10px rgb(128, 78, 5);
    
    
}
main #contato .formulario input{
    width: 400px;
    height: 30px;
    border-radius: 50px;
    margin: 15px 0;
}
main #contato .formulario textarea{
    width: 400px;
    margin: 15px 0;
}
main #contato .formulario h1{
    font-size: 60px;
    margin-bottom: 30px;
}
main #contato .formulario button{
    width: 100%;
    background-color: rgb(29, 223, 22);
    color: white;
    padding: 15px;
    border-radius: 20px;
    align-self: center;
    font-size: 30px;
    
    
}
main #contato .formulario button:hover{
    cursor: pointer;
    background-color: tomato;
    font-weight: bolder;
}

/* pagina de projeto */
main #finans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main #finans h1{
    margin-top: 140px ;
    margin-bottom: 30px;
    font-size: 60px;
}
main #finans img{
    width: 60%; 
    box-shadow: 6px 3px rgb(211, 191, 7);
    margin-bottom: 20px;
}
main #finans p{
    font-size: 30px;
    max-width: 60%;
}
main #finans ul li{
    margin: 20px;
}

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: #FCD900;
   padding: 40px;
   border-top: 1px solid black;
}
footer img{
    height: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
}
footer img:hover{
    background-color: rgb(21, 172, 241);
}